@using ASS.WEB.Models.DTOs
@using ASS.WEB.Models.ViewModels
@using Markdig
@model AssignmentDTO
@{
    Layout = "_MainLayout";
}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true,
        },
    };
</script>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <div class="card border-light mb-3">
                <div class="card-header">
                    <table class="table-responsive-md table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">@localizer["AssignmentDeadlineTitle"] </th>
                                <td id="countdownTimer"></td>
                            </tr>
                        </tbody>
                    </table>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            const countDownDate = new Date("@Model.EndDate").getTime();
                            const x = setInterval(function () {
                                const distance = countDownDate - new Date().getTime();

                                // Time calculations for days, hours, minutes and seconds
                                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                document.getElementById("countdownTimer").innerHTML = `${days} @localizer["CountdownTimerDay"] ${hours}:${minutes}:${seconds}`;

                            }, 1000);
                        });
                    </script>
                </div>
                <div class="card-body">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-12">
                            <p class="card-title h1">@Model.Name</p>
                        </div>
                        <div class="col-lg-12">
                            <p class="card-text">@Html.Raw(Markdown.ToHtml(Model.Description))</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    @{
                        if (Model.Solutions.Count > 0)
                        {
                            <div class="accordion" id="accordionSolution">
                                @foreach (SolutionDTO item in Model.Solutions)
                                {
                                    <div class="accordion-item">
                                        <div class="accordion-header" id="heading-@item.Id">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#solution-@item.Id" aria-expanded="false" aria-controls="solution-@item.Id">
                                                <span class="badge bg-secondary">@item.SubmissionTime</span>
                                            </button>
                                        </div>
                                        <div id="solution-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@item.Id" data-bs-parent="#accordionSolution">
                                            <div class="accordion-body">
                                                @item.SubmittedSolution
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="h4">@localizer["NoSolutions"]</div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            @*<partial name="_SubmitSolutionForm" model="@new SolutionSubmissionViewModel()"/>*@
            @await Html.PartialAsync("_SubmitSolutionForm", new SolutionSubmissionViewModel(Model.Id))
        </div>
    </div>
</div>