@using ASS.WEB.Models.ViewModels
@using ASS.Common.Helpers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-5">
            <div class="page-header">
                <h1>@localizer["Greetings"]</h1>
            </div>
            <p>@localizer["SiteDesc"]</p>

            @{
                KeyValuePair<string, ModelStateEntry> state = ViewData.ModelState.FirstOrDefault(x => x.Key == string.Empty);
                if (state.Value != null)
                {
                    <div class="text-center mb-1">
                        @foreach (ModelError error in state.Value.Errors)
                        {
                            <span class="text-danger">@localizer[error.ErrorMessage]</span>
                        }
                    </div>
                }
            }
            <form asp-controller="Home" asp-action="Login" method="post">
                <div class="form-floating mb-3">
                    <input type="text" asp-for="Username" class="form-control" placeholder="@localizer["UsernamePlaceholder"]" />
                    <label asp-for="Username"></label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" asp-for="Password" class="form-control" placeholder="@localizer["PasswordPlaceholder"]" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" name="login-btn">@localizer["LoginButton"]</button>
                </div>
            </form>

            <hr>
            @{
                IEnumerable<string> cultureList = localizationOption.Value.SupportedUICultures.Select(x => x.Name);
            }
            <form asp-controller="Home" asp-action="CultureManagment" method="post">
                <div class="btn-group d-flex" role="group">
                    @foreach (var item in cultureList)
                    {
                        <button class="btn btn-outline-info" type="submit" name="culture" value="@item">@CultureCodeMapping.CultureCodeToCountryName(item)</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
