@using ASS.WEB.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model CreateSubjectViewModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = localizer["HeadTitle"];
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <h1>@localizer["CreateSubjectTitle"]</h1>
            <hr />
        </div>
        @{
            if (ViewData.ModelState.GetValueOrDefault("") != null)
            {
                foreach (ModelError error in ViewData.ModelState.GetValueOrDefault("").Errors)
                {
                    <div class="col-lg-8">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            @localizer[error.ErrorMessage]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                }
            }
        }
        <div class="col-lg-8">
            <form asp-controller="Admin" asp-action="CreateSubject" method="post">
                <div class="form-floating mb-3">
                    <input type="text" asp-for="SubjectName" class="form-control" placeholder="@localizer["SubjectNamePlaceholder"]" />
                    <label asp-for="SubjectName"></label>
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TeachersNeptunCode">@localizer["SubjectTeachersLabel"]</label>
                    <select id="multiselect" multiple="multiple" asp-for="TeachersNeptunCode"></select>
                    <span asp-validation-for="TeachersNeptunCode" class="text-danger"></span>
                </div>

                <script>
                    $(document).ready(function() {
                    $("#multiselect").kendoMultiSelect({
                            dataTextField: "TeacherName",
                            dataValueField: "TeacherNeptun",
                            itemTemplate: '<span class="k-state-default">#: data.TeacherName # (#: data.TeacherNeptun #)</span>',
                            tagTemplate: '<span class="k-state-default">#: data.TeacherName # (#: data.TeacherNeptun #)</span>',
                            dataSource: {
                                transport: {
                                    read: {
                                        dataType: "json",
                                        url: "@Url.Action("GetTeachers", "Admin")"
                                    }
                                }
                            }
                        });
                    });
                </script>

                <div class="d-grid gap-2 pt-3">
                    <button type="submit" class="btn btn-block btn-primary" name="create-btn">@localizer["CreateButton"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
