@{
    Layout = "_MainLayout";
    ViewData["Title"] = localizer["HeadTitle"];
}
@using ASS.WEB.Models.DTOs
@model EvaluateAssignmentDTO

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <h1>@localizer["EvaluateAssignmentTitle"]</h1>
            <hr />
        </div>
        <div class="col-lg-12 mb-3">
            <table class="table table-responsive caption-top table-bordered">
                <caption class="h4">@localizer["InfoTable"]</caption>
                <tbody>
                    <tr>
                        <th scope="row">@localizer["StudentNameRow"]</th>
                        <td>@Model.StudentName</td>
                    </tr>
                    <tr>
                        <th scope="row">@localizer["AssignmentNameRow"]</th>
                        <td>@Model.Assignment.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">@localizer["StartDateRow"]</th>
                        <td>@Model.Assignment.StartDate</td>
                    </tr>
                    <tr>
                        <th scope="row">@localizer["EndDateRow"]</th>
                        <td>@Model.Assignment.EndDate</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 mb-3">
            <h4>@localizer["SubmittedSolutionTitle"]</h4>
            <div class="card">
                <div class="card-body">
                    <code id="submittedSolution">
                        @Model.Assignment.Solutions.FirstOrDefault().SubmittedSolution
                    </code>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-3">
            <h4>@localizer["SolutionsTitle"]</h4>
            <ul class="list-group">
                @foreach (SolutionDTO solution in Model.Assignment.Solutions)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center" role="button" data-solution-id="@solution.Id" data-solution-submittedsolution="@solution.SubmittedSolution" onclick="solution_click(this)">
                        <span class="badge bg-secondary rounded-pill">@localizer["SubmittedTime"]: @solution.SubmissionTime</span>
                        @if (!string.IsNullOrEmpty(solution.Grade))
                        {
                            <span class="badge bg-secondary rounded-pill">@localizer["Evaluation"]: @solution.Grade</span>
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="col-lg-12">
            <h4>@localizer["EvaluationTitle"]</h4>
            <div class="card">
                <div class="card-body">
                    <form asp-action="EvaluateAssignment" method="post">
                        <input id="solutionId" name="solutionId" type="hidden"/>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="grade" id="grade" placeholder="@localizer["GradeLabel"]" required/>
                            <label for="grade">@localizer["GradeLabel"]</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">@localizer["SubmitBtn"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                document.getElementById("solutionId").value = "@Model.Assignment.Solutions.FirstOrDefault().Id";
            });

            function solution_click(el) {
                document.getElementById("solutionId").value = el.getAttribute("data-solution-id");
                document.getElementById("submittedSolution").innerHTML = el.getAttribute("data-solution-submittedsolution");
            }
        </script>
    </div>
</div>